<%-include("partials/header") %>


<div class="container">
	<div class=" mt-3 d-flex justify-content-center align-items-center">
		
		<h1>
			TITLES
		</h1>
	</div>
	<form action="/newunv" style="mt-2" method="POST">
	<div class="form-row" >
    <div class="col form-group">
      <input type="text" class="form-control" placeholder="TITLE" name="name">
  
   
		
  </div>
		
    
    <div class="col form-group">
      <select class="form-control"id="select1" name="check">
		  <option value="true">
			  ACTIVE
		  </option>
		  <option value="false">PASSIVE
		  </option>
		</select>
    </div>
			<button href="/" class="btn btn-success btn-md" style="height:38px;" >ADD</button>
		</div>
	

	
</form>
	
<% unvan.forEach(function(unv){%>
		
	<div>
		<form action="/newunv/<%=unv._id%>?_method=PUT" class="mt-2" method="POST" style=" display: inline;">
	<div class="form-row" >
    <div class="col form-group">
      <input type="text" class="form-control" value="<%=unv.isim%>" name="name">
		</div>
  <div class="col form-group">
	  
	  <select class=" form-control" name="check">
			<%if(unv.check){%>
			<option value="true">
			  ACTIVE
		  </option>
		  <option value="false">PASSIVE
		  </option>
			
			<%}
			else{%>
			<option value="false">PASSIVE
		  </option>
			<option value="true">
			  ACTIVE
		  </option>
		  
			
			<%}%>
		  
		</select>
	  </div>
	  <button href="/" class="btn btn-success btn-md" style="height:38px; width:100px;" >UPDATE</button>
	  
	  
	  
		
   
		
		</form>
		<form method="POST" action="/newunv/<%=unv._id%>?_method=DELETE"  style=" display: inline;" >
		<button href="/" class="btn btn-danger  btn-md" style="height:38px; width:100px;" >DELETE</button>
	</form>
  </div>
		
			
		
		
		
	</div>
	
	<%})%>
	
</div>




<%- include("partials/footer") %>